.m-content
  // Begin::Main Portlet
  .row
    .col-xl-12
      // begin:: Widgets/Tasks
      .m-portlet.m-portlet--full-height
        .m-portlet__head
          .m-portlet__head-caption
            .m-portlet__head-title
              h3.m-portlet__head-text Welcome
          .m-portlet__head-tools
        .m-portlet__body
          .tab-content
            #m_widget2_tab1_content.tab-pane.active
              .m-widget2
                .m-widget2__item.m-widget2__item--primary
                  .m-widget2__checkbox
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand
                      input(type='checkbox')
                      span
                  .m-widget2__desc
                    span.m-widget2__text Make Metronic Great  Again.Lorem Ipsum Amet
                    br
                    span.m-widget2__user-name
                      a.m-widget2__link(href='#') By Bob
                  .m-widget2__actions
                    .m-widget2__actions-nav
                      .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                        a.m-dropdown__toggle(href='#')
                          i.la.la-ellipsis-h
                        .m-dropdown__wrapper
                          span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                          .m-dropdown__inner
                            .m-dropdown__body
                              .m-dropdown__content
                                ul.m-nav
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-share
                                      span.m-nav__link-text Activity
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-chat-1
                                      span.m-nav__link-text Messages
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-info
                                      span.m-nav__link-text FAQ
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-lifebuoy
                                      span.m-nav__link-text Support
                .m-widget2__item.m-widget2__item--warning
                  .m-widget2__checkbox
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand
                      input(type='checkbox')
                      span
                  .m-widget2__desc
                    span.m-widget2__text Prepare Docs For Metting On Monday
                    br
                    span.m-widget2__user-name
                      a.m-widget2__link(href='#') By Sean
                  .m-widget2__actions
                    .m-widget2__actions-nav
                      .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                        a.m-dropdown__toggle(href='#')
                          i.la.la-ellipsis-h
                        .m-dropdown__wrapper
                          span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                          .m-dropdown__inner
                            .m-dropdown__body
                              .m-dropdown__content
                                ul.m-nav
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-share
                                      span.m-nav__link-text Activity
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-chat-1
                                      span.m-nav__link-text Messages
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-info
                                      span.m-nav__link-text FAQ
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-lifebuoy
                                      span.m-nav__link-text Support
                .m-widget2__item.m-widget2__item--brand
                  .m-widget2__checkbox
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand
                      input(type='checkbox')
                      span
                  .m-widget2__desc
                    span.m-widget2__text Make Widgets Great Again.Estudiat Communy Elit
                    br
                    span.m-widget2__user-name
                      a.m-widget2__link(href='#') By Aziko
                  .m-widget2__actions
                    .m-widget2__actions-nav
                      .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                        a.m-dropdown__toggle(href='#')
                          i.la.la-ellipsis-h
                        .m-dropdown__wrapper
                          span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                          .m-dropdown__inner
                            .m-dropdown__body
                              .m-dropdown__content
                                ul.m-nav
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-share
                                      span.m-nav__link-text Activity
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-chat-1
                                      span.m-nav__link-text Messages
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-info
                                      span.m-nav__link-text FAQ
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-lifebuoy
                                      span.m-nav__link-text Support
                .m-widget2__item.m-widget2__item--success
                  .m-widget2__checkbox
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand
                      input(type='checkbox')
                      span
                  .m-widget2__desc
                    span.m-widget2__text Make Metronic Great Again.Lorem Ipsum
                    br
                    span.m-widget2__user-name
                      a.m-widget2__link(href='#') By James
                  .m-widget2__actions
                    .m-widget2__actions-nav
                      .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                        a.m-dropdown__toggle(href='#')
                          i.la.la-ellipsis-h
                        .m-dropdown__wrapper
                          span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                          .m-dropdown__inner
                            .m-dropdown__body
                              .m-dropdown__content
                                ul.m-nav
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-share
                                      span.m-nav__link-text Activity
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-chat-1
                                      span.m-nav__link-text Messages
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-info
                                      span.m-nav__link-text FAQ
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-lifebuoy
                                      span.m-nav__link-text Support
                .m-widget2__item.m-widget2__item--danger
                  .m-widget2__checkbox
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand
                      input(type='checkbox')
                      span
                  .m-widget2__desc
                    span.m-widget2__text Completa Financial Report For Emirates Airlines
                    br
                    span.m-widget2__user-name
                      a.m-widget2__link(href='#') By Bob
                  .m-widget2__actions
                    .m-widget2__actions-nav
                      .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                        a.m-dropdown__toggle(href='#')
                          i.la.la-ellipsis-h
                        .m-dropdown__wrapper
                          span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                          .m-dropdown__inner
                            .m-dropdown__body
                              .m-dropdown__content
                                ul.m-nav
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-share
                                      span.m-nav__link-text Activity
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-chat-1
                                      span.m-nav__link-text Messages
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-info
                                      span.m-nav__link-text FAQ
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-lifebuoy
                                      span.m-nav__link-text Support
                .m-widget2__item.m-widget2__item--info
                  .m-widget2__checkbox
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand
                      input(type='checkbox')
                      span
                  .m-widget2__desc
                    span.m-widget2__text Completa Financial Report For Emirates Airlines
                    br
                    span.m-widget2__user-name
                      a.m-widget2__link(href='#') By Sean
                  .m-widget2__actions
                    .m-widget2__actions-nav
                      .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                        a.m-dropdown__toggle(href='#')
                          i.la.la-ellipsis-h
                        .m-dropdown__wrapper
                          span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                          .m-dropdown__inner
                            .m-dropdown__body
                              .m-dropdown__content
                                ul.m-nav
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-share
                                      span.m-nav__link-text Activity
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-chat-1
                                      span.m-nav__link-text Messages
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-info
                                      span.m-nav__link-text FAQ
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-lifebuoy
                                      span.m-nav__link-text Support
            #m_widget2_tab2_content.tab-pane
            #m_widget2_tab3_content.tab-pane
      // end:: Widgets/Tasks
    .col-xl-6
      
  // End::Main Portlet
  // Begin::Main Portlet
  .row
    .col-xl-4
      
    .col-xl-4
      
    .col-xl-4
      
  // End::Main Portlet
